body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 29px;
    font-weight: bold;
    color: #1E9585;
    margin: 0;    
}

#debaixo {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 13px;
    color: #9BABB7;
    text-align: center;
}

.login{
    width: 420px;
    height: 420px;
    border: 1px solid #1E9585;
    border-radius: 4px;
    text-align: center;
    margin: 85px 0 0 240px;
    padding: 21px 0px;
}

.inputs_login{
    margin: 20px 0 0 85px;
    width: 250px;
    height: 30px;
    border: 1px solid #1E9585  ;
    border-radius: 3px;
    display: flex;
}
 .inputs_login input {
     height: 28px;
     border: none;
     outline: none;
     margin-left: 3px;
     width: calc(100% - 16);
     
 }
 
 .inputs_login i{
     margin-left: 5px;
     line-height: 28px;
 }
 
 .inputs_senha{
    margin: 20px 0 0 85px;
    width: 250px;
    height: 30px;
    border: 1px solid #1E9585  ;
    border-radius: 3px;
    display: flex;
 }

 .inputs_senha input {
    height: 28px;
    border: none;
    outline: none;
    margin-left: 3px;
    width: calc(100% - 16);
}

.inputs_senha i{
    margin-left: 5px;
    line-height: 28px;
}

.login_btn {
    background-color: #1E9585;
    color: #FFF;
    border: none;
    padding: 10px 40px;
    border-radius: 23px;
    font-size: 15px;
    margin: 15px auto;
    display: block;
    font-weight: bold;
    outline: none;
    line-height: 15px;
    height: 36px;
    width: 132px;
}